@font-face {
font-family: 'FoundersGroteskRegular';
src: url('FoundersGroteskWeb-Regular.woff2') format('woff2'),
url('FoundersGroteskWeb-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
font-stretch: normal;
}

@font-face {
font-family: 'FoundersGroteskMedium';
src: url('FoundersGroteskWeb-Medium.woff2') format('woff2'),
url('FoundersGroteskWeb-Medium.woff') format('woff');
font-weight: 600;
font-style: normal;
font-stretch: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: #FFFBF6;
}

/* root */

* {
  font-family: 'FoundersGroteskRegular';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: #333333;
}

/* typography */

h1 {
  font-size: 1.5rem;
  padding-bottom: 8px;
}

p {
  font-family: 'FoundersGroteskMedium';
  font-size: .75rem;
  letter-spacing: 1.5px;
  text-decoration: none;
}

a {
  position: relative;
  text-decoration: none;
  font-family: 'FoundersGroteskMedium';
}

a.hover {
  text-decoration: underline;
}

/* positioning */

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/* img */

.logo {
  max-width: 356px;
  padding-bottom:40px;
  padding-left:30px;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}


/* grid */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.main-text {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}


/* 680px */

@media screen and (max-width:681px) {
	
  .container {
  width: 90%;
  padding-top: 100px;
  }

  .logo {
  max-width: 200px;
  padding-bottom: 20px;
  padding-left:20px;
  }

  h1 {
  font-size: 1.5rem;
  }

  h2 {
  font-size: 1rem;
  letter-spacing:1.5px;
  line-height:1.5rem;
  }
}
